.idea/
.vscode/
.env
.env.local
*.log

.DS_Store
Thumbs.db

docker-compose.override.yml

backend/.env.local
backend/.env.*.local
backend/var/
backend/vendor/
frontend/.nuxt/
frontend/.output/
frontend/node_modules/
